<div class="container-fluid bg-dark">
    <div class="row footer p-5">
        <div class="col-lg-2 mt-5">
            <p class="text-white-50">Get Us to know</p>
            <p class="text-white font-weight-bold">About us</p>
            <p class="text-white font-weight-bold">Careers</p>
            <p class="text-white font-weight-bold">Press Release</p>
        </div>
        <div class="col-lg-2 mt-5">
            <p class="text-white-50">Connect with us</p>
            <p class="text-white">Facebook</p>
            <p class="text-white">Twitter</p>
            <p class="text-white">Instagram</p>
        </div>
        <div class="col-lg-2 mt-5">
            <p class="text-white-50">Make Money with us</p>
            <p class="text-white">Sell on Flipkart</p>
            <p class="text-white">Supply to Flipkart</p>
            <p class="text-white">Advertise your products</p>
            <p class="text-white">Become an Affiliate</p>
        </div>
        <div class="col-lg-2 mt-5">
            <p class="text-white-50">Let us Help you</p>
            <p class="text-white">Your Account</p>
            <p class="text-white">Customer Center</p>
            <p class="text-white">Help</p>
        </div>
        <div class="col-lg-2 mt-5">
            <p class="text-white-50">Mail us:</p>
            <p class="text-white">Flipkart International Private Limited,Buildings Alyssa,Begonia & Clove Embassy Tech Village,Bengaluru 561013</p>
        </div>
        <div class="col-lg-2 mt-5">
            <p class="text-white-50">Registered Office Address:</p>
            <p class="text-white">Flipkart International Private Limited,Buildings Alyssa,Begonia & Clove Embassy Tech Village,Bengaluru 561013</p>
        </div>
    </div>
    <div class="row lastrow">
        <p class="text-white">&copy;<b>copyright Reserved 2024.</b></p>
    </div>
</div>