.fa-tag{
    color:rgb(22, 134, 22);
}
li{
    list-style: none;
}
.productDetail img{
    height:15rem;
    width:15rem;
}
.badge{
    border-radius: 0;
}
.fa-star{
    font-size:12px;
    margin-top:1%;
}
.addbtn{
    background-color: orange;
}
.buybtn{
    background-color: orangered;
}
.btn{
    border-radius:0;
}
.moredetail{
    cursor:pointer;
}