<!-- login form -->
 <div class="login-overlay" *ngIf="isVisible">
    <div class="row loginAccess">
        <div class="col-lg-5 form">
            <p class="fs-3 fw-bold m-3">Login</p>
            <p class="fs-5 text-secondary">Get access to your Orders,Wishlist and Recommendations</p>
        </div>
        <div class="col loginForm">
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="mb-3 form-group">
                    <input type="email" class="form-control" id="usergName" aria-describedby="username"
                    name="username" placeholder="username" [(ngModel)]="username" required>
                </div>

                <input type="password" class="form-control" id="Password" placeholder="password"
                name="password" [(ngModel)]="password" required>
            </form>
            <p class="policy mt-5 text-secondary">By continuing, you agree to Flipkart's Terms of Use and Privacy Policy.</p>
            <button class="btn btn-lg w-100 loginbtn">Login</button>
            <button type="button" class="btn btn-danger mt-2 mx-3" (click)="hideLoginForm()">Close</button>
            <p class="createAcc text-primary text-center">New to Flipkart? Create an account</p>
        </div>
    </div>
 </div>