.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
  }
  .form{
    background-color: rgb(51, 51, 241);
  }
  .loginForm{
    border:none;
    border-bottom:1px gray;
    border-radius: 0;
    padding:2rem;
    margin:0;
    background-color:white;
    outline:none;
    display: flex;
    flex-direction: column;
    
  }
  .loginForm:focus{
    border-bottom-color:blue;
  }
  .policy{
    font-size:12px;
  }
  .loginbtn{
    background-color: orange;
    color:white;
  }
  .loginAccess{
    height:30rem;
    width:70%;
  }
  .createAcc{
    margin-top:auto;
    cursor:pointer;
  }
  .login-form-container {
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    // width: 100%;
    text-align: center;
  }
  .login-form{
    background-color: white;
    color:gray;
    // height:15rem;
  }
  .left-login{
    background-color: blue;
    color:white;
    // height:15rem;
    // width:20rem;
  }
  .form-group{
    // position:relative;
    margin-bottom:2rem;
  }
  .form-control{
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
    outline: none;
    // width:80%;
  }
  .form-control:focus{
    border-color:orange;
    box-shadow: none;
  }
  .form-group label{
    position: absolute;
    top:10px;
    left:0;
    transition:0.3s ease;
    font-size: 16px;
    color:#6c757d;
  }
  .form-control:focus + label,
  .form-control:not(:placeholder-shown) +label{
    top:-20px;
    font-size: 12px;
    color:#007bff;
  }
  .error-message{
    color:red;
  }
  button{
    bottom:20px;
  }
  .form button{
    border-radius: 0;
  }