.text-center img{
    border-radius: 50%;
}
.category-logo{
    // height:100px;
    // width:100px;
}
a{
    text-decoration: none;
}
.carousel-inner img{
    height:300px;
}
.img-category{
    max-width: 120px;
}